body {
  background: #000000;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.button-wrap {
  padding: 0.6rem 1.5rem;
  color: rgb(255, 255, 255);
  background-color: #3c2a25;
  border: 1px solid transparent;
  box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.55);
  -webkit-transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .button-wrap {
    padding: 0.9rem 0.6rem;

    font-size: 0.9rem;
  }
}

.button-wrap:hover {
  -webkit-filter: drop-shadow(3px 3px 20px #a55021);
  filter: drop-shadow(3px 3px 20px #a55021#f5ad4b);
  color: #fff;
  text-decoration: none;
}

.button-wrap:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -15px;
  width: 0;
  height: 0;
  border-top: 54px solid#f5ad4b;
  border-left: 15px solid transparent;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.button-wrap:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -15px;
  width: 0;
  height: 0;
  border-top: 54px solid #f5ad4b;
  border-right: 15px solid transparent;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
